# 판다스 개요
- 판다스는 데이터 조작 및 분석을 위해 ptyhon 프로그래밍 언어로 작성된 소프트웨어 라이브러리다
- 판다스는 파이썬계의 엑셀이라 불리운다
- 공식 사이트: https://pandas.pydata.org/

# 판다스에서 사용하는 자료 구조
- 판다스는 일반저긍로 pd라는 별칭으로 불러온다

In [10]:
import pandas as pd

- 판다스의 구성 요소
  
      -> Series
      >- DataFrame 중에서 하나의 column에 해당하는 데이터
      >- 1차원(index, values 2가지 요소로 구성)
  
      ->  DataFrame
      >- Data table 전체를 의미하는 용어
      >- 여러 개의 series를 이용해 구성
      >- 2차원(index, column, values 3가지 요소로 구성)
  
      -> Index
      >- Series, DataFrame을 구성하는 이름
      



  ![Data](DataFrame_structure.png)

# Series (시리즈)

## 시리즈 생성:
- 시리즈는 1차열 배열과 유사하게 사용할 수 있다
- Series 클래스 생성자에 리스트를 전달해 시리즈 객체를 생성할 수 있다
- 리스트의 요소에 대해 인덱스가 자동으로 생성되어 시리즈 객체를 출력할 때 표시된다.

In [11]:
sr = pd.Series([2,3,5,7,11])
print(sr)
print(type(sr))

0     2
1     3
2     5
3     7
4    11
dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
# 명시적으로 인덱스 전달하기
menu_list = ['토스트', '제육볶음', '치킨']
index_list = ['아침', '점심', '저녁']
sr=pd.Series(menu_list, index=index_list)
print(sr)

아침     토스트
점심    제육볶음
저녁      치킨
dtype: object

In [15]:
# 인데스와 값 추출
print(sr.index)
print(sr.values)
print(type(sr.values))

Index(['아침', '점심', '저녁'], dtype='object')
['토스트' '제육볶음' '치킨']
<class 'numpy.ndarray'>

In [20]:
# 파이썬 딕셔너리를 이용한 Series 생성
dic_data = {'a':21, 'b':22, 'c':23, 'd':24, 'e':25}
sr = pd.Series(dic_data)
print(sr)

a    21
b    22
c    23
d    24
e    25
dtype: int64

## 원소 선택

In [20]:
import warnings
warnings.filterwarnings(action='ignore')

In [25]:
print(sr)
print('-'*30)
print(sr[0]) #sr.iloc[0] 동일
print('-'*30)
print(sr['b'])
print('-'*30)
print(sr[:2])
print('-'*30)
print(sr[[0,2]])
print('-'*30)
print(sr['a':'d']) # 인덱스 슬라이싱을 이용한 슬라이싱은 마지막 인덱스도 포함한다

a    21
b    22
c    23
d    24
e    25
dtype: int64
------------------------------
21
------------------------------
22
------------------------------
a    21
b    22
dtype: int64
------------------------------
a    21
c    23
dtype: int64
------------------------------
a    21
b    22
c    23
d    24
dtype: int64

## unique(), value_counts()
- sr.unique(): ** 결측치를 포함하며 ** 중복을 제외한 데이터의 종류를 ndarray로 반환
- sr.value_counts(): ** 결측치를 포함하지 않으며** 데이터의 종류별 개수를 Series로 반환한다

In [33]:
import numpy as np
sr = pd.Series(['A', 'B', 'A', np.NaN, 'C', 'D','D','A'])
print(sr.unique())
print(sr.value_counts().sort_index())

['A' 'B' nan 'C' 'D']
A    3
B    1
C    1
D    2
Name: count, dtype: int64

# DataFrame (데이터프레임)

## 데이터 프레임 생성
- 데이터프레임은 2차원 배열과 유사하게 사용할 수 있다
- pandas의 Dataframe 클래스의 생성자에 이중 리스트를 전달하여 데이터프레임 객체를 생성할 수 있다.
- 리스트의 요소에 대해 인덱스와 컬럼이 자동으로 생성되어 데이터프레임 객체를 출력할 때 표시된다.

In [21]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]])
print(df)
print(type(df))

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
<class 'pandas.core.frame.DataFrame'>

In [122]:
# 인덱스와 컬럼을 명시적으로 전달하기

menu_list = [['토스트','시리얼','스크램플']
             ['제육볶음', '칼국수', '육개장']
             ['치킨', '삼겹살', '라면']]
index = ['아침', '점심', '저녁']
column = ['월', '화', '수']
df = pd.DataFrame(menu_list, index = index, columns=column)
display(df)

<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\user\AppData\Local\Temp\ipykernel_20424\3951911798.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  menu_list = [['토스트','시리얼','스크램플']
C:\Users\user\AppData\Local\Temp\ipykernel_20424\3951911798.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  menu_list = [['토스트','시리얼','스크램플']
C:\Users\user\AppData\Local\Temp\ipykernel_20424\3951911798.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  menu_list = [['토스트','시리얼','스크램플']
C:\Users\user\AppData\Local\Temp\ipykernel_20424\3951911798.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  menu_list = [['토스트','시리얼','스크램플']
C:\Users\user\AppData\Local\Temp\ipykernel_20424\3951911798.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  menu_list = [['토스트','시리얼','스크램플']
C:\Users\user\AppData\Local\Temp\ipykernel_20424\3951911798.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  menu_list = [['토스트','시리얼','스크램플']
C:\Users\user\AppData\Local\Temp\ipykernel_20424\3951911798.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  menu_list = [['토스트','시리얼','스크램플']

TypeError: list indices must be integers or slices, not tuple

In [123]:
menu_list = [['토스트', '시리얼', '스크램플'],
             ['제육볶음', '칼국수', '육개장'],
             ['치킨', '삼겹살', '라면']]
index = ['아침', '점심', '저녁']
column = ['월', '화', '수']
df = pd.DataFrame(menu_list, index=index, columns=column)
display(df)

       월    화     수
아침   토스트  시리얼  스크램플
점심  제육볶음  칼국수   육개장
저녁    치킨  삼겹살    라면

In [121]:
# 인덱스, 컬럼, 값 가져오기
print(df.index)
print(df.columns)
print(df.values)

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')
[[ 9 15 64 28 89 93 29  8 73  0]
 [40 36 16 11 54 88 62 33 72 78]
 [49 51 54 77 69 13 25 13 92 86]
 [30 30 89 12 65 31 57 36 27 18]
 [93 77 22 23 94 11 28 74 88  9]
 [15 18 80 71 88 11 17 46  7 75]
 [28 33 84 96 88 44  5  4 71 88]
 [88 50 54 34 15 77 88 15  6 85]
 [22 11 12 92 96 62 57 79 42 57]
 [97 50 45 40 89 73 37  0 18 23]]

In [42]:
# 딕셔너리를 이용한 데이터프레임 생성
raw_data = {
    '이름':['홍길동', '전우치', '손오공', '사오정', '저팔계'],
    '나이':[32, 27, 30, 31, 33],
    '전화번호': ['010-1233-5678','010-5233-5638','010-7233-5618','010-1283-4678','010-9833-1541'],
    '지역':['서울', '경기', '대구', '대전', '제주']
}
df = pd.DataFrame(raw_data)
print(df)

    이름  나이           전화번호  지역
0  홍길동  32  010-1233-5678  서울
1  전우치  27  010-5233-5638  경기
2  손오공  30  010-7233-5618  대구
3  사오정  31  010-1283-4678  대전
4  저팔계  33  010-9833-1541  제주

# 데이터 조회 및 처리

In [23]:
import numpy as np
import pandas as pd

np.random.seed(10)
data = np.random.randint(100,size=(10,10))
df = pd.DataFrame(data, index=list('ABCDEFGHIJ'), columns=list('abcdefghiJ'))
print(df)

    a   b   c   d   e   f   g   h   i   J
A   9  15  64  28  89  93  29   8  73   0
B  40  36  16  11  54  88  62  33  72  78
C  49  51  54  77  69  13  25  13  92  86
D  30  30  89  12  65  31  57  36  27  18
E  93  77  22  23  94  11  28  74  88   9
F  15  18  80  71  88  11  17  46   7  75
G  28  33  84  96  88  44   5   4  71  88
H  88  50  54  34  15  77  88  15   6  85
I  22  11  12  92  96  62  57  79  42  57
J  97  50  45  40  89  73  37   0  18  23

## 데이터 조회

### 열 값 읽기
- df['열 명'] / df.열명

In [24]:
print(df['a']) # 시리즈 객체로 추출

A     9
B    40
C    49
D    30
E    93
F    15
G    28
H    88
I    22
J    97
Name: a, dtype: int32

In [4]:
# 여러 개의 열 값을 읽기 위해서 열 이름을 리스트로 전달한다
print(df[['a']])

    a
A   9
B  40
C  49
D  30
E  93
F  15
G  28
H  88
I  22
J  97

### 행 값 읽기
- df.loc['행명']

In [25]:
df.loc['A']

a     9
b    15
c    64
d    28
e    89
f    93
g    29
h     8
i    73
J     0
Name: A, dtype: int32

In [6]:
# 여러 개의 행 값을 읽기 위해서는 행 이름을 리스트로 전달한다
df.loc[['A', 'C', 'D']]

    a   b   c   d   e   f   g   h   i   J
A   9  15  64  28  89  93  29   8  73   0
C  49  51  54  77  69  13  25  13  92  86
D  30  30  89  12  65  31  57  36  27  18

### df.head(), df.tail()
- 상위(하위) n개의 행을 선택한다
- 숫자를 전달하지 않으면 5개의 행을 선택한다.

In [9]:
df.head(2)
print('-'*30)
df.tail()

------------------------------

    a   b   c   d   e   f   g   h   i   J
F  15  18  80  71  88  11  17  46   7  75
G  28  33  84  96  88  44   5   4  71  88
H  88  50  54  34  15  77  88  15   6  85
I  22  11  12  92  96  62  57  79  42  57
J  97  50  45  40  89  73  37   0  18  23

### df.sample()
- n개의 랜덤 데이터 추출
- 매개변수 값이 없으면 1개의 랜덤 데이터 추가

In [26]:
df.sample(2)

    a   b   c   d   e   f   g   h   i   J
G  28  33  84  96  88  44   5   4  71  88
F  15  18  80  71  88  11  17  46   7  75

## 데이터 정보 조회

In [27]:
# 컬럼별 데이터 타입 확인
print(df.dtypes)
df['a']= df['a'].astype(float)
print(df.dtypes)

a    int32
b    int32
c    int32
d    int32
e    int32
f    int32
g    int32
h    int32
i    int32
J    int32
dtype: object
a    float64
b      int32
c      int32
d      int32
e      int32
f      int32
g      int32
h      int32
i      int32
J      int32
dtype: object

In [14]:
# DataFrame의 Shape 확인
print(df.shape)

# 열마다 데이터의 개수 확인
print(df.count()) # 결측치 제외

(10, 10)
a    10
b    10
c    10
d    10
e    10
f    10
g    10
h    10
i    10
J    10
dtype: int64

In [6]:
# 기술 통계 정보 요약
print(df.describe())

NameError: name 'df' is not defined

## 인덱싱, 슬라이싱

In [5]:
print(df)

NameError: name 'df' is not defined

# 열 인덱싱 / 슬라이싱

In [28]:
df['a']
df[['a','c']]

      a   c
A   9.0  64
B  40.0  16
C  49.0  54
D  30.0  89
E  93.0  22
F  15.0  80
G  28.0  84
H  88.0  54
I  22.0  12
J  97.0  45

<font color = red><b>열의 순서를 이용해서 인덱싱을 할 수는 없다.</b> </font>

In [ ]:
#df[0]

- columns 속성의 값을 이용해서 인덱싱이나 슬라이싱을 할 수 있다

In [25]:
print(df.columns[0])
print(df[df.columns[0:3]])

a
      a   b   c
A   9.0  15  64
B  40.0  36  16
C  49.0  51  54
D  30.0  30  89
E  93.0  77  22
F  15.0  18  80
G  28.0  33  84
H  88.0  50  54
I  22.0  11  12
J  97.0  50  45

In [ ]:
- 행의 이름을 이용해서 슬라이싱을 할 수 있다
- 파이썬의 슬라이싱과는 다르게 마지막 요소를 범위에 포함한다.

In [3]:
print(df['A':'C'])
# 행 단위의 추출은 loc 속성을 이용하는 것이 좋다
print(df.loc['A':'C'])

NameError: name 'df' is not defined

- 행의 순서를 이용해서 슬라이싱을 할 수 있다

In [29]:
df[0:3]
# 행 단위의 추출은 iloc 속성을 이용하는 것이 좋다
print(df.iloc[0:3])

      a   b   c   d   e   f   g   h   i   J
A   9.0  15  64  28  89  93  29   8  73   0
B  40.0  36  16  11  54  88  62  33  72  78
C  49.0  51  54  77  69  13  25  13  92  86

### df.at()과, df.iat()
- 이름 또는 인덱스를 이용해서 특정 위치의 단일 값을 추출한다
-

In [ ]:
print(df.at['B','C'])
print(df.iat[4,4])

- df.loc[[행],[열]]: 행과 열의 이름을 이용해서 해당 범위에 속하는 데이터를 추출한다
- df.iloc[[행],[열]]: 행과 열의 인덱스를 이용해서 해당 범위에 속하는 데이터를 추출한다

In [32]:
print(df)

      a   b   c   d   e   f   g   h   i   J
A   9.0  15  64  28  89  93  29   8  73   0
B  40.0  36  16  11  54  88  62  33  72  78
C  49.0  51  54  77  69  13  25  13  92  86
D  30.0  30  89  12  65  31  57  36  27  18
E  93.0  77  22  23  94  11  28  74  88   9
F  15.0  18  80  71  88  11  17  46   7  75
G  28.0  33  84  96  88  44   5   4  71  88
H  88.0  50  54  34  15  77  88  15   6  85
I  22.0  11  12  92  96  62  57  79  42  57
J  97.0  50  45  40  89  73  37   0  18  23

In [34]:
print(df.loc['A','a':'e'])

a     9.0
b    15.0
c    64.0
d    28.0
e    89.0
Name: A, dtype: float64

In [35]:
print(df.loc['D':'F', 'd':'f'])

    d   e   f
D  12  65  31
E  23  94  11
F  71  88  11

In [36]:
print(df.iloc[0:5, 5:10])

    f   g   h   i   J
A  93  29   8  73   0
B  88  62  33  72  78
C  13  25  13  92  86
D  31  57  36  27  18
E  11  28  74  88   9

In [39]:
print(df.loc['E':'J', ['a','b','c','d','e']])

      a   b   c   d   e
E  93.0  77  22  23  94
F  15.0  18  80  71  88
G  28.0  33  84  96  88
H  88.0  50  54  34  15
I  22.0  11  12  92  96
J  97.0  50  45  40  89

## 조건 인덱싱
- 조건식을 전달해 인덱싱할 수 있다

In [29]:
print(df[df['a']>50])

      a   b   c   d   e   f   g   h   i   J
E  93.0  77  22  23  94  11  28  74  88   9
H  88.0  50  54  34  15  77  88  15   6  85
J  97.0  50  45  40  89  73  37   0  18  23

In [33]:
# df의 모든 요소 중 짝수만
print(df[df%2 == 0])

      a     b     c     d     e     f     g     h     i     J
A   NaN   NaN  64.0  28.0   NaN   NaN   NaN   8.0   NaN   0.0
B  40.0  36.0  16.0   NaN  54.0  88.0  62.0   NaN  72.0  78.0
C   NaN   NaN  54.0   NaN   NaN   NaN   NaN   NaN  92.0  86.0
D  30.0  30.0   NaN  12.0   NaN   NaN   NaN  36.0   NaN  18.0
E   NaN   NaN  22.0   NaN  94.0   NaN  28.0  74.0  88.0   NaN
F   NaN  18.0  80.0   NaN  88.0   NaN   NaN  46.0   NaN   NaN
G  28.0   NaN  84.0  96.0  88.0  44.0   NaN   4.0   NaN  88.0
H  88.0  50.0  54.0  34.0   NaN   NaN  88.0   NaN   6.0   NaN
I  22.0   NaN  12.0  92.0  96.0  62.0   NaN   NaN  42.0   NaN
J   NaN  50.0   NaN  40.0   NaN   NaN   NaN   0.0  18.0   NaN

In [31]:
df2 = df.copy()
df2['k'] = ['one', 'two','one', 'two','one', 'two','one', 'two','one', 'two']
print(df2)

      a   b   c   d   e   f   g   h   i   J    k
A   9.0  15  64  28  89  93  29   8  73   0  one
B  40.0  36  16  11  54  88  62  33  72  78  two
C  49.0  51  54  77  69  13  25  13  92  86  one
D  30.0  30  89  12  65  31  57  36  27  18  two
E  93.0  77  22  23  94  11  28  74  88   9  one
F  15.0  18  80  71  88  11  17  46   7  75  two
G  28.0  33  84  96  88  44   5   4  71  88  one
H  88.0  50  54  34  15  77  88  15   6  85  two
I  22.0  11  12  92  96  62  57  79  42  57  one
J  97.0  50  45  40  89  73  37   0  18  23  two

In [35]:
df2['k'].isin(['one']) # 정확히 일치해야 / isin 함수는 true or false 값을 전달

A     True
B    False
C     True
D    False
E     True
F    False
G     True
H    False
I     True
J    False
Name: k, dtype: bool

In [36]:
df2['k'].isin(['one', 'two'])

A    True
B    True
C    True
D    True
E    True
F    True
G    True
H    True
I    True
J    True
Name: k, dtype: bool

In [37]:
df2[df2.isin(['one'])]

    a   b   c   d   e   f   g   h   i   J    k
A NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  one
B NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
C NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  one
D NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
E NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  one
F NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
G NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  one
H NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN
I NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  one
J NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN

In [38]:
print(df2[~df2['k'].isin(['one'])])
# pandas에서 ~는 부정을 의미한다

      a   b   c   d   e   f   g   h   i   J    k
B  40.0  36  16  11  54  88  62  33  72  78  two
D  30.0  30  89  12  65  31  57  36  27  18  two
F  15.0  18  80  71  88  11  17  46   7  75  two
H  88.0  50  54  34  15  77  88  15   6  85  two
J  97.0  50  45  40  89  73  37   0  18  23  two

# 데이터 수정
- 인덱싱과 슬라이싱을 통해 선택된 위치에 새로운 값을 대입해 데이터를 수정할 수 있다

In [39]:
df['e'] = 0

In [41]:
print(df)

      a   b   c   d  e   f   g   h   i   J
A   9.0  15  64  28  0  93  29   8  73   0
B  40.0  36  16  11  0  88  62  33  72  78
C  49.0  51  54  77  0  13  25  13  92  86
D  30.0  30  89  12  0  31  57  36  27  18
E  93.0  77  22  23  0  11  28  74  88   9
F  15.0  18  80  71  0  11  17  46   7  75
G  28.0  33  84  96  0  44   5   4  71  88
H  88.0  50  54  34  0  77  88  15   6  85
I  22.0  11  12  92  0  62  57  79  42  57
J  97.0  50  45  40  0  73  37   0  18  23

In [42]:
df.loc['E','F'] = 0
print(df)

      a   b   c   d  e   f   g   h   i   J    F
A   9.0  15  64  28  0  93  29   8  73   0  NaN
B  40.0  36  16  11  0  88  62  33  72  78  NaN
C  49.0  51  54  77  0  13  25  13  92  86  NaN
D  30.0  30  89  12  0  31  57  36  27  18  NaN
E  93.0  77  22  23  0  11  28  74  88   9  0.0
F  15.0  18  80  71  0  11  17  46   7  75  NaN
G  28.0  33  84  96  0  44   5   4  71  88  NaN
H  88.0  50  54  34  0  77  88  15   6  85  NaN
I  22.0  11  12  92  0  62  57  79  42  57  NaN
J  97.0  50  45  40  0  73  37   0  18  23  NaN

In [43]:
df.at['E','e'] = 1
print(df)

      a   b   c   d  e   f   g   h   i   J    F
A   9.0  15  64  28  0  93  29   8  73   0  NaN
B  40.0  36  16  11  0  88  62  33  72  78  NaN
C  49.0  51  54  77  0  13  25  13  92  86  NaN
D  30.0  30  89  12  0  31  57  36  27  18  NaN
E  93.0  77  22  23  1  11  28  74  88   9  0.0
F  15.0  18  80  71  0  11  17  46   7  75  NaN
G  28.0  33  84  96  0  44   5   4  71  88  NaN
H  88.0  50  54  34  0  77  88  15   6  85  NaN
I  22.0  11  12  92  0  62  57  79  42  57  NaN
J  97.0  50  45  40  0  73  37   0  18  23  NaN

In [44]:
df.loc['D':'G','d':'g'] = -2
print(df)

      a   b   c   d  e   f   g   h   i   J    F
A   9.0  15  64  28  0  93  29   8  73   0  NaN
B  40.0  36  16  11  0  88  62  33  72  78  NaN
C  49.0  51  54  77  0  13  25  13  92  86  NaN
D  30.0  30  89  -2 -2  -2  -2  36  27  18  NaN
E  93.0  77  22  -2 -2  -2  -2  74  88   9  0.0
F  15.0  18  80  -2 -2  -2  -2  46   7  75  NaN
G  28.0  33  84  -2 -2  -2  -2   4  71  88  NaN
H  88.0  50  54  34  0  77  88  15   6  85  NaN
I  22.0  11  12  92  0  62  57  79  42  57  NaN
J  97.0  50  45  40  0  73  37   0  18  23  NaN

# 데이터 정렬

In [45]:
import numpy as np
import pandas as pd

np.random.seed(10)
data = np.random.randint(100,size=(10,10))
df = pd.DataFrame(data, index=list('ABCDEFGHIJ'), columns=list('abcdefghiJ'))
print(df)

    a   b   c   d   e   f   g   h   i   J
A   9  15  64  28  89  93  29   8  73   0
B  40  36  16  11  54  88  62  33  72  78
C  49  51  54  77  69  13  25  13  92  86
D  30  30  89  12  65  31  57  36  27  18
E  93  77  22  23  94  11  28  74  88   9
F  15  18  80  71  88  11  17  46   7  75
G  28  33  84  96  88  44   5   4  71  88
H  88  50  54  34  15  77  88  15   6  85
I  22  11  12  92  96  62  57  79  42  57
J  97  50  45  40  89  73  37   0  18  23

## df.sort_values()
- 행 또는 열을 하나 지정해서 값에 따라 정렬한다
- 기본 값은 열을 지정해서 값에 따라 오름차순으로 정렬하는 것이다
- 내림차순으로 정렬하면 ascending 인수에 False 값을 전달한다

In [46]:
print(df.sort_values('a'))

    a   b   c   d   e   f   g   h   i   J
A   9  15  64  28  89  93  29   8  73   0
F  15  18  80  71  88  11  17  46   7  75
I  22  11  12  92  96  62  57  79  42  57
G  28  33  84  96  88  44   5   4  71  88
D  30  30  89  12  65  31  57  36  27  18
B  40  36  16  11  54  88  62  33  72  78
C  49  51  54  77  69  13  25  13  92  86
H  88  50  54  34  15  77  88  15   6  85
E  93  77  22  23  94  11  28  74  88   9
J  97  50  45  40  89  73  37   0  18  23

- 행을 지정해서 정렬하려면 axis 인수에 1 또는 'columns'를 전달한다

In [48]:
print(df.sort_values('A', axis=1))

    J   h   a   b   d   g   c   i   e   f
A   0   8   9  15  28  29  64  73  89  93
B  78  33  40  36  11  62  16  72  54  88
C  86  13  49  51  77  25  54  92  69  13
D  18  36  30  30  12  57  89  27  65  31
E   9  74  93  77  23  28  22  88  94  11
F  75  46  15  18  71  17  80   7  88  11
G  88   4  28  33  96   5  84  71  88  44
H  85  15  88  50  34  88  54   6  15  77
I  57  79  22  11  92  57  12  42  96  62
J  23   0  97  50  40  37  45  18  89  73

## df.sort_index()
- 행 또는 열에 대해 정렬한다
- 기본 값은 인덱스를 오름차순으로 정렬하는 것이다
- 컬럼명에 따라 내림차순으로 정렬하려면 axis 인수와 ascending 인수를 설정한다

In [50]:
print(df.sort_index(ascending=False))

    a   b   c   d   e   f   g   h   i   J
J  97  50  45  40  89  73  37   0  18  23
I  22  11  12  92  96  62  57  79  42  57
H  88  50  54  34  15  77  88  15   6  85
G  28  33  84  96  88  44   5   4  71  88
F  15  18  80  71  88  11  17  46   7  75
E  93  77  22  23  94  11  28  74  88   9
D  30  30  89  12  65  31  57  36  27  18
C  49  51  54  77  69  13  25  13  92  86
B  40  36  16  11  54  88  62  33  72  78
A   9  15  64  28  89  93  29   8  73   0

In [51]:
print(df.sort_index(axis='columns',ascending=False))

    i   h   g   f   e   d   c   b   a   J
A  73   8  29  93  89  28  64  15   9   0
B  72  33  62  88  54  11  16  36  40  78
C  92  13  25  13  69  77  54  51  49  86
D  27  36  57  31  65  12  89  30  30  18
E  88  74  28  11  94  23  22  77  93   9
F   7  46  17  11  88  71  80  18  15  75
G  71   4   5  44  88  96  84  33  28  88
H   6  15  88  77  15  34  54  50  88  85
I  42  79  57  62  96  92  12  11  22  57
J  18   0  37  73  89  40  45  50  97  23

# 데이터프레임 조작

## 새로운 행 또는 열 추가
- Dataframe에 새로운 열 추가
    - df[컬럼명] = 데이터 목록
    - 새로 추가되는 데이터 목록은 기존 데이터의 행(레코드) 수와 같아야 한다
- DataFrame에 새로운 행 추가
    - df.loc[행이름] = 데이터 목록

In [63]:
import pandas as pd

df = pd.DataFrame([[1,2,3], [7,8,9],[13,14,15]], index=list('ABC'), columns=list('abc'))
print(df)

    a   b   c
A   1   2   3
B   7   8   9
C  13  14  15

In [64]:
# 새로운 행 추가
df.loc['D'] = [19,20,21]
print(df)

    a   b   c
A   1   2   3
B   7   8   9
C  13  14  15
D  19  20  21

In [65]:
# 새로운 열 추가
df['d'] = [4,10,16,20]
print(df)

    a   b   c   d
A   1   2   3   4
B   7   8   9  10
C  13  14  15  16
D  19  20  21  20

- 시리즈를 이용한 새로운 행 또는 열 추가
    - 시리즈를 이용해 새로운 행 또는 열을 추가할 떄는 기존 데이터프레임과 같은 인덱스를 갖도록 설정한다
    - 인덱스를 명확하게 명시하지 않으면 추가되는 요소는 NaN으로 초기화 된다

In [66]:
df.loc['E'] = pd.Series([25,26,27,28], index = df.columns)
print(df)

    a   b   c   d
A   1   2   3   4
B   7   8   9  10
C  13  14  15  16
D  19  20  21  20
E  25  26  27  28

In [67]:
df['e'] = pd.Series([5,11,17,23,29], index = df.index)
print(df)

    a   b   c   d   e
A   1   2   3   4   5
B   7   8   9  10  11
C  13  14  15  16  17
D  19  20  21  20  23
E  25  26  27  28  29

## 임의의 위치에 열 삽입

In [68]:
df.insert(1, 'p', [1,1,1,1,1])
print(df)

    a  p   b   c   d   e
A   1  1   2   3   4   5
B   7  1   8   9  10  11
C  13  1  14  15  16  17
D  19  1  20  21  20  23
E  25  1  26  27  28  29

# 행 / 열의 변경

In [76]:
df = pd.DataFrame(np.arange(1,10).reshape((3,3)), columns=list('abc'))
print(df)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

## df.reindex()
- 인덱스 구조를 변경하면서 새로운 행 또는 열을 추가한다
- 추가되는 행 또는 열의 요소는 NaN으로 초기화 된다.
- 실행 결과는 원본에 영향을 주지 않고 '새로운 데이터 프레임 객체를 반환'한다

In [70]:
df2 = df.reindex(index=[0,1,2,3], columns=list('abcd'))
print(df2)

     a    b    c   d
0  1.0  2.0  3.0 NaN
1  4.0  5.0  6.0 NaN
2  7.0  8.0  9.0 NaN
3  NaN  NaN  NaN NaN

- 행 또는 열의 순서를 섞을 수 있다
- 또는 기존에 존재하던 인덱스를 생략해서 행 또는 열을 삭제할 수 있다.

In [71]:
df2 = df.reindex(index = [0,1], columns=['b','a','c'])
print(df2)

   b  a  c
0  2  1  3
1  5  4  6

In [81]:
df2 = df.reset_index(drop = True)
print(df2)

   b  c
0  2  3
1  5  6
2  8  9

# 행/열의 삭제

In [85]:
import pandas as pd

df = pd.DataFrame([[1,2],[3,4]], index = list('AB'), columns = list('ab'))
print(df)

   a  b
A  1  2
B  3  4

## DataFrame의 행 제거
- df.drop(행이름), df.drop([행이름1.행이름2....]
- axis=0이 기본값으로 생략해도 좋다
- 실행 결과는 원본에 영향을 주지 않고 새로운 데이터프레임 객체를 반환한다

In [86]:
df2 = df.drop('A')
print(df2)

   a  b
B  3  4

## DataFrame의 열 제거
- df.drop(열이름, axis=1), df.drop([열이름1, 열이름2...], axis=1)

In [87]:
df2 = df.drop('a', axis=1)
print(df2)

   b
A  2
B  4

# 행 / 열 이름 바꾸기

In [89]:
df=pd.DataFrame(np.random.randint(1, 101,(4,4)))
print(df)

    0   1   2   3
0  81  42  91  13
1  31  82  18  17
2   1  32  74  65
3  39  23  97  67

## 전체 행/열 이름 바꾸기

In [90]:
df.columns = ['C1','C2','C3','C4']
df.index = list('abcd')
print(df)

   C1  C2  C3  C4
a  81  42  91  13
b  31  82  18  17
c   1  32  74  65
d  39  23  97  67

## 특정 행/열 이름 바꾸기
- df.rename(index = dictionary 객체)
- df.rename(columns = dictionary 객체)

In [91]:
df.rename(index={'a':'A'}, inplace = True)
df.rename(columns={'C1':'국어'}, inplace = True)
print(df)

   국어  C2  C3  C4
A  81  42  91  13
b  31  82  18  17
c   1  32  74  65
d  39  23  97  67

## 행/열 이름의 특정 문자 변경하기

In [92]:
df.index=list('ABCD')
df.columns={'4기 A반', '4기 B반', '5기 A반', '5기 B반'}
print(df)

   4기 B반  4기 A반  5기 A반  5기 B반
A     81     42     91     13
B     31     82     18     17
C      1     32     74     65
D     39     23     97     67

- 'str' 변수에는 문자열 객체가 할당되어 있다. 따라서 파이썬 문자열 객체가 제공하는 함수를 이용할 수 있다

In [94]:
df.columns = df.columns.str.replace(' ','-')
print(df)

   -4-기---B-반-  -4-기---A-반-  -5-기---A-반-  -5-기---B-반-
A           81           42           91           13
B           31           82           18           17
C            1           32           74           65
D           39           23           97           67

## 컬럼명에 접두사 및 접미사 붙이기

In [95]:
df2=df.add_suffix('-1학기')
print(df2)

   -4-기---B-반--1학기  -4-기---A-반--1학기  -5-기---A-반--1학기  -5-기---B-반--1학기
A               81               42               91               13
B               31               82               18               17
C                1               32               74               65
D               39               23               97               67

# 데이터프레임 간의 조합

In [96]:
df = pd.DataFrame([[1,2],[3,4]], index = list('AB'), columns=list('ab'))
print(df)

   a  b
A  1  2
B  3  4

## pd.concat()
- 두 개 이상의 데이터프레임을 행 또는 열 방향으로 연결한다
- axis=0 값이 기본 값으로 행 방향으로 연결한다.
- 열 방향으로 연결하고자 할 경우 axis = 1 인자를 전달한다
- 행 방향으로 연결하고자 할 때는  열 이름이 같아야 하고, 열 방향으로 연결하고자 할 경우에는 행 이름이 같아야 한다
- 실행 결과는 원본에 영향을 주지 않고 새로운 데이터프레임 객체를 반환한다

In [97]:
df2 = pd.concat([df,df])
print(df2)

   a  b
A  1  2
B  3  4
A  1  2
B  3  4

In [98]:
df3 = pd.DataFrame([[5,6], [7,8]], index = df.index, columns=list('cd'))
print(df3)

   c  d
A  5  6
B  7  8

In [99]:
df4 = pd.concat([df,df3], axis = 1)
print(df4)

   a  b  c  d
A  1  2  5  6
B  3  4  7  8

# 통계

In [100]:
import numpy as np
import pandas as pd

np.random.seed(10)
df = pd.DataFrame(np.random.randint(100, size = (10,10)), index = list('ABCDEFGHIJ'), columns= list('abcdefghij'))
print(df)

    a   b   c   d   e   f   g   h   i   j
A   9  15  64  28  89  93  29   8  73   0
B  40  36  16  11  54  88  62  33  72  78
C  49  51  54  77  69  13  25  13  92  86
D  30  30  89  12  65  31  57  36  27  18
E  93  77  22  23  94  11  28  74  88   9
F  15  18  80  71  88  11  17  46   7  75
G  28  33  84  96  88  44   5   4  71  88
H  88  50  54  34  15  77  88  15   6  85
I  22  11  12  92  96  62  57  79  42  57
J  97  50  45  40  89  73  37   0  18  23

## df.describe()
- 각 열에 대한 주요 통계 수치들을 산출한다

In [103]:
print(df.describe().loc['std'])

a    33.487809
b    20.333060
c    28.233156
d    32.589023
e    25.183990
f    32.492905
g    24.981104
h    28.295269
i    33.437172
j    35.466573
Name: std, dtype: float64

## df.count()
- 각 행 또는 열에 대해 non-NA(변측치를 제외한) 요소의 개수를 산출한다.

In [104]:
# 각 열의 요소의 개수
print(df.count())

a    10
b    10
c    10
d    10
e    10
f    10
g    10
h    10
i    10
j    10
dtype: int64

In [105]:
# 각 행의 요소의 개수
print(df.count(axis=1))

A    10
B    10
C    10
D    10
E    10
F    10
G    10
H    10
I    10
J    10
dtype: int64

## df.mean()
- 각 행과 열에 대한 평균을 산출한다.

In [106]:
# 각 열에 대한 평균
print(df.mean())

a    47.1
b    37.1
c    52.0
d    48.4
e    74.7
f    50.3
g    40.5
h    30.8
i    49.6
j    51.9
dtype: float64

In [107]:
# 각 행에 대한 평균
print(df.mean(axis=1))

A    40.8
B    49.0
C    52.9
D    39.5
E    51.9
F    42.8
G    54.1
H    51.2
I    53.0
J    47.2
dtype: float64

# 표준 편차

In [108]:
print(df.std())

a    33.487809
b    20.333060
c    28.233156
d    32.589023
e    25.183990
f    32.492905
g    24.981104
h    28.295269
i    33.437172
j    35.466573
dtype: float64

# df.win() / df.max()
- 각 행과 열에 대한 최소 / 최대 값을 산출한다

In [109]:
print(df.min())

a     9
b    11
c    12
d    11
e    15
f    11
g     5
h     0
i     6
j     0
dtype: int32

In [110]:
print(df.max())

a    97
b    77
c    89
d    96
e    96
f    93
g    88
h    79
i    92
j    88
dtype: int32

[문제] 다음 요구사항에 맞는 DataFrame을 생성하세요

1. 각 컬럼은 Series 객체로 생성
2. 앞서 만든 Series 객체를 이용해서 DataFrame을 생상
3. 각 과목에 합계를 계산한 컬럼을 추가
4. 각 과목의 평균을 계산한 컬럼을 추가

In [136]:
# 각 컬럼은 Series 객체로 생성
subject_list = ['전공','수학', '국어', '영어']
name_list = ['홍길동', '임꺽정','전우치','손오공','저팔계','사오정']
# 시리즈 생성
data_list = {'전공':'컴공과', '전공':'수학과', '전공':'정보통신학과', '전공':'수학과', '전공':'컴퓨터공학과', '전공':'컴퓨터공학과' }
total_list=pd.Series(data_list)
print(total_list)

전공    컴퓨터공학과
dtype: object

In [140]:

index = [total_list]
column = [subject_list]
df = pd.DataFrame(index=index, columns=column)
display(df)

         전공   수학   국어   영어
컴퓨터공학과  NaN  NaN  NaN  NaN

[문제 풀이] 다음 요구사항에 맞는 DataFrame을 생성하세요

1. 각 컬럼은 Series 객체로 생성
2. 앞서 만든 Series 객체를 이용해서 DataFrame을 생상
3. 각 과목에 합계를 계산한 컬럼을 추가
4. 각 과목의 평균을 계산한 컬럼을 추가

In [142]:
index_list = ['홍길동', '임꺽정', '전우치', '손오공', '저팔계', '사오정']
sr_major = pd.Series(['컴퓨터공학과', '수학과', '정보통신학과', '수학과', '컴퓨터공학과', '컴퓨터공학과'], index =index_list)
sr_mat = pd.Series([97,88,91,76,88,87], index = index_list)
sr_kor = pd.Series([88,89,85,90,88,77], index = index_list)
sr_eng = pd.Series([90,100,96,91,80,90], index = index_list)

In [145]:
df = pd.DataFrame({'전공':sr_major,'수학':sr_mat,'국어':sr_kor,'영어':sr_eng}) # 딕셔너리의 키 값은 컬럼에
display(df)

         전공  수학  국어   영어
홍길동  컴퓨터공학과  97  88   90
임꺽정     수학과  88  89  100
전우치  정보통신학과  91  85   96
손오공     수학과  76  90   91
저팔계  컴퓨터공학과  88  88   80
사오정  컴퓨터공학과  87  77   90

In [155]:
#df[['수학','국어','영어']].sum(axis=1)
df.loc[:,'수학':'영어'].sum(axis=1)

         전공  수학  국어   영어
홍길동  컴퓨터공학과  97  88   90
임꺽정     수학과  88  89  100
전우치  정보통신학과  91  85   96
손오공     수학과  76  90   91
저팔계  컴퓨터공학과  88  88   80
사오정  컴퓨터공학과  87  77   90

In [159]:
df['합계'] = df.loc[:,'수학':'영어'].sum(axis=1)
df['평균'] = df.loc[:,'수학':'영어'].mean(axis=1)
display(df)

         전공  수학  국어   영어   합계         평균
홍길동  컴퓨터공학과  97  88   90  275  91.666667
임꺽정     수학과  88  89  100  277  92.333333
전우치  정보통신학과  91  85   96  272  90.666667
손오공     수학과  76  90   91  257  85.666667
저팔계  컴퓨터공학과  88  88   80  256  85.333333
사오정  컴퓨터공학과  87  77   90  254  84.666667

In [161]:
df['평균'] = df['평균'].astype(float)
display(df)

         전공  수학  국어   영어   합계         평균
홍길동  컴퓨터공학과  97  88   90  275  91.666667
임꺽정     수학과  88  89  100  277  92.333333
전우치  정보통신학과  91  85   96  272  90.666667
손오공     수학과  76  90   91  257  85.666667
저팔계  컴퓨터공학과  88  88   80  256  85.333333
사오정  컴퓨터공학과  87  77   90  254  84.666667

# 결측값 처리

In [167]:
import numpy as np
import pandas as pd

np.random.seed(10)
df = pd.DataFrame(np.random.randint(10, size = (5,5)), index = list('ABCDE'), columns=list('abcde'))
df.at['B','c'] = None
df.at['D','e'] = None
print(df)

   a  b    c  d    e
A  9  4  0.0  1  9.0
B  0  1  NaN  9  0.0
C  8  6  4.0  3  0.0
D  4  6  8.0  1  NaN
E  4  1  3.0  6  5.0

## df.isna(),df.notna()
-데이터가 NaN인지 아닌지 검사

In [168]:
check_na = df.notna()
print(check_na)

      a     b      c     d      e
A  True  True   True  True   True
B  True  True  False  True   True
C  True  True   True  True   True
D  True  True   True  True  False
E  True  True   True  True   True

In [169]:
# 컬럼별 결측치 데이터 수 확인
print(check_na.sum())

a    5
b    5
c    4
d    5
e    4
dtype: int64

In [170]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       5 non-null      int32
 1   b       5 non-null      int32
 2   c       4 non-null      float64
 3   d       5 non-null      int32
 4   e       4 non-null      float64
dtypes: float64(2), int32(3)
memory usage: 352.0+ bytes
None

## df.dropna()
- 결측값이 존재하는 행 또는 열을 삭제한다
- 기본 값은 결측값이 존재하는 행을 모두 제거하는 방식이다
- 원본 데이터를 수정하는 것은 아니다

In [172]:
cleared_row= df.dropna()
print(cleared_row)

   a  b    c  d    e
A  9  4  0.0  1  9.0
C  8  6  4.0  3  0.0
E  4  1  3.0  6  5.0

In [175]:
cleared_col= df.dropna(axis=1)
print(cleared_col)

   a  b  d
A  9  4  1
B  0  1  9
C  8  6  3
D  4  6  1
E  4  1  6

- 'subset 인수'를 설정하면 모든 컬럼이 아닌 특정 컬럼의 결측값 데이터만 삭제한다

In [177]:
# C컬럼의 결측값이 있는 행을 삭제한다
cleared_row_df = df.dropna(subset = ['c'])
print(cleared_row_df)

   a  b    c  d    e
A  9  4  0.0  1  9.0
C  8  6  4.0  3  0.0
D  4  6  8.0  1  NaN
E  4  1  3.0  6  5.0

## df.fillna()
- 결측값을 다른 값으로 채운다

In [178]:
fillde_df = df.fillna(-999)
print(fillde_df)

   a  b      c  d      e
A  9  4    0.0  1    9.0
B  0  1 -999.0  9    0.0
C  8  6    4.0  3    0.0
D  4  6    8.0  1 -999.0
E  4  1    3.0  6    5.0

In [180]:
# 결측값을 해당 컬럼의 평균 값으로 채우기
df['c'] = df['c'].fillna(df['c'].mean())
print(df)

   a  b     c  d    e
A  9  4  0.00  1  9.0
B  0  1  3.75  9  0.0
C  8  6  4.00  3  0.0
D  4  6  8.00  1  NaN
E  4  1  3.00  6  5.0

## df.ffill() / df.bfill()
- ffill(): 결측값의 앞 값으로 채운다.
- bfill(): 결측값의 뒤의 값으로 채운다.

In [181]:
filled_df2 = df.ffill()
print(filled_df2)

   a  b     c  d    e
A  9  4  0.00  1  9.0
B  0  1  3.75  9  0.0
C  8  6  4.00  3  0.0
D  4  6  8.00  1  0.0
E  4  1  3.00  6  5.0

In [182]:
filled_df3 = df.bfill()
print(filled_df3)

   a  b     c  d    e
A  9  4  0.00  1  9.0
B  0  1  3.75  9  0.0
C  8  6  4.00  3  0.0
D  4  6  8.00  1  5.0
E  4  1  3.00  6  5.0

# 중복 데이터 제거

In [185]:
import pandas as pd

df = pd.DataFrame({'k1':['one', 'two']*3 + ['two'], 'k2':[1,1,2,3,3,4,4,]})
print(df)

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

## df.duplicated()
- 각 행의 중복 여부를 확인해 True / False 값으로 알려준다

In [186]:
print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

## df.drop_duplicates()
- 모든 컬럼에 대해 중복된 값을 갖는 행을 제거한 데이터프레임을 반환한다.

In [187]:
rm_duplicated = df.drop_duplicates()
print(rm_duplicated)

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

## df.drop_duplicates(컬럼명 리스트)
- 매개변수로 주어진 컬럼명 목록에 대해 같은 값을 갖는 행을 제거한 데이터프레임을 반환한다

In [188]:
df['y1'] = np.arange(7)
print(df)

    k1  k2  y1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [189]:
print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [190]:
rm_duplicated = df.drop_duplicates(['k1','k2'])
print(rm_duplicated)

    k1  k2  y1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5

## keep = 'last' 파라메터
- drop_duplicates는 기본적으로 처음 발견된 데이터를 유지한다
- keep = 'last' 파라메터를 지정하면 마지막으로 발견된 값을 유지한다

In [191]:
rm_duplicated = df.drop_duplicates(['k1', 'k2'], keep='last')
print(rm_duplicated)

    k1  k2  y1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

# 데이터프레임 재구조화

In [195]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(16).reshape((4,4)), index = list('ABCD'), columns = list('abcd'))
year_df=pd.DataFrame([2021, 2022, 2023, 2024], list('ABCD'), columns=['year'])
class_df = pd.DataFrame(list('AABB'), list('ABCD'), columns=['class'])

df = pd.concat([year_df,class_df,df], axis=1)
print(df)

   year class   a   b   c   d
A  2021     A   0   1   2   3
B  2022     A   4   5   6   7
C  2023     B   8   9  10  11
D  2024     B  12  13  14  15

## pd.pivot_table() (=df.pivot_table())
- 지정된 index와 column으로 사용하는 피벗 테이블을 생성한다
- 피벗 테이블: 기존 데이터를 기반으로 합계나 평균 등의 통계를 산출하기 위해 새로운 구조의 표를 만드는 기능
- 데이터에서 특정 컬럼 항목으로만 정렬하고 싶을 때 피벗 테이블을 사용한다. 그렇게 되면 해당 컬럼이 index가 되고, 중복된 컬럼의 항목은 하나로 합쳐지고 값들의 평균을 가지게 된다.
- df.pivot_table(index=행방향 컬럼, columns = 열방향 컬럼, values = 집계대상 컬럼, aggfunc = 구할 통계값)

In [196]:
pivot = pd.pivot_table(df,index='year', columns='class')
print(pivot)

         a          b          c          d
class    A     B    A     B    A     B    A     B
year
2021   0.0   NaN  1.0   NaN  2.0   NaN  3.0   NaN
2022   4.0   NaN  5.0   NaN  6.0   NaN  7.0   NaN
2023   NaN   8.0  NaN   9.0  NaN  10.0  NaN  11.0
2024   NaN  12.0  NaN  13.0  NaN  14.0  NaN  15.0

In [197]:
pivot = pd.pivot_table(df, index = ['year', 'class'])
print(pivot)

               a     b     c     d
year class
2021 A       0.0   1.0   2.0   3.0
2022 A       4.0   5.0   6.0   7.0
2023 B       8.0   9.0  10.0  11.0
2024 B      12.0  13.0  14.0  15.0

In [200]:
# 연도를 기준으로 각 컬럼의 평균값이 하나로 합쳐진 후 평균 값이 표시된다
# aggfunc = np.mean() 기본값으로 설정되어 있음
pivot = pd.pivot_table(df,index='year', values =['a','b','c','d'])
print(pivot)

         a     b     c     d
year
2021   0.0   1.0   2.0   3.0
2022   4.0   5.0   6.0   7.0
2023   8.0   9.0  10.0  11.0
2024  12.0  13.0  14.0  15.0

In [204]:
pivot = pd.pivot_table(df,index='year', values =['a','b','c','d'],aggfunc=['sum','mean'])
print(pivot)

     sum              mean
       a   b   c   d     a     b     c     d
year
2021   0   1   2   3   0.0   1.0   2.0   3.0
2022   4   5   6   7   4.0   5.0   6.0   7.0
2023   8   9  10  11   8.0   9.0  10.0  11.0
2024  12  13  14  15  12.0  13.0  14.0  15.0

In [205]:
print(pivot.columns)

MultiIndex([( 'sum', 'a'),
            ( 'sum', 'b'),
            ( 'sum', 'c'),
            ( 'sum', 'd'),
            ('mean', 'a'),
            ('mean', 'b'),
            ('mean', 'c'),
            ('mean', 'd')],
           )

[실습] 피벗 테이블 실습
- 'benefit' 컬럼 추가:매출(sales)-비용(cost)
- 피봇을 활용해 연도별 분기 이익 데이터 확인
- 연도별 이익의 평균 / 합계 계산

In [217]:
sr_year = pd.Series([2020]*4+[2021]*4+[2022]*4)
sr_quarter =pd.Series(['1q', '2q', '3q', '4q'] * 3)
np.random.seed(10)
sr_sales = pd.Series(np.random.randint(500,6000, 12))
sr_cost = pd.Series(np.random.randint(100, 1200, 12))

df=pd.DataFrame({'year':sr_year, 'quarter':sr_quarter,'sales':sr_sales,'cost':sr_cost})
print(df)

    year quarter  sales  cost
0   2020      1q   1789   356
1   2020      2q   5123   590
2   2020      3q   1844   140
3   2020      4q   3941   602
4   2021      1q   1680   471
5   2021      2q   2509   456
6   2021      3q   5329   339
7   2021      4q   2020   495
8   2022      1q   2449   154
9   2022      2q   2542   674
10  2022      3q   1532  1074
11  2022      4q   1597  1178

In [218]:
# 매출 컬럼 추가
df['benefit'] = df['sales']-df['cost']
print(df)

    year quarter  sales  cost  benefit
0   2020      1q   1789   356     1433
1   2020      2q   5123   590     4533
2   2020      3q   1844   140     1704
3   2020      4q   3941   602     3339
4   2021      1q   1680   471     1209
5   2021      2q   2509   456     2053
6   2021      3q   5329   339     4990
7   2021      4q   2020   495     1525
8   2022      1q   2449   154     2295
9   2022      2q   2542   674     1868
10  2022      3q   1532  1074      458
11  2022      4q   1597  1178      419

In [219]:
# 피봇을 활용해 연도별 분기 이익 데이터 확인
df_pivot = pd.pivot_table(df,index='year', columns='quarter', values = 'benefit')
print(df_pivot)

quarter      1q      2q      3q      4q
year
2020     1433.0  4533.0  1704.0  3339.0
2021     1209.0  2053.0  4990.0  1525.0
2022     2295.0  1868.0   458.0   419.0

In [220]:
df_pivot = pd.pivot_table(df,index=['year', 'quarter'], values = 'benefit')
print(df_pivot)

              benefit
year quarter
2020 1q        1433.0
     2q        4533.0
     3q        1704.0
     4q        3339.0
2021 1q        1209.0
     2q        2053.0
     3q        4990.0
     4q        1525.0
2022 1q        2295.0
     2q        1868.0
     3q         458.0
     4q         419.0

In [221]:
# 연도별 이익의 평균 / 합계 계산
df_pivot = pd.pivot_table(df,index='year', values = 'benefit',aggfunc=['sum','mean'])
print(df_pivot)

         sum     mean
     benefit  benefit
year
2020   11009  2752.25
2021    9777  2444.25
2022    5040  1260.00

In [224]:
currency_format = df.copy()
for col in ['sales', 'cost', 'benefit']:
    currency_format[col] = currency_format[col].map(lambda x:f'₩(x:,)')
    print(currency_format)

    year quarter   sales  cost  benefit
0   2020      1q  ₩(x:,)   356     1433
1   2020      2q  ₩(x:,)   590     4533
2   2020      3q  ₩(x:,)   140     1704
3   2020      4q  ₩(x:,)   602     3339
4   2021      1q  ₩(x:,)   471     1209
5   2021      2q  ₩(x:,)   456     2053
6   2021      3q  ₩(x:,)   339     4990
7   2021      4q  ₩(x:,)   495     1525
8   2022      1q  ₩(x:,)   154     2295
9   2022      2q  ₩(x:,)   674     1868
10  2022      3q  ₩(x:,)  1074      458
11  2022      4q  ₩(x:,)  1178      419
    year quarter   sales    cost  benefit
0   2020      1q  ₩(x:,)  ₩(x:,)     1433
1   2020      2q  ₩(x:,)  ₩(x:,)     4533
2   2020      3q  ₩(x:,)  ₩(x:,)     1704
3   2020      4q  ₩(x:,)  ₩(x:,)     3339
4   2021      1q  ₩(x:,)  ₩(x:,)     1209
5   2021      2q  ₩(x:,)  ₩(x:,)     2053
6   2021      3q  ₩(x:,)  ₩(x:,)     4990
7   2021      4q  ₩(x:,)  ₩(x:,)     1525
8   2022      1q  ₩(x:,)  ₩(x:,)     2295
9   2022      2q  ₩(x:,)  ₩(x:,)     1868
10  2022      3q  ₩(x:,)  ₩(x:,)      458
11  2022      4q  ₩(x:,)  ₩(x:,)      419
    year quarter   sales    cost benefit
0   2020      1q  ₩(x:,)  ₩(x:,)  ₩(x:,)
1   2020      2q  ₩(x:,)  ₩(x:,)  ₩(x:,)
2   2020      3q  ₩(x:,)  ₩(x:,)  ₩(x:,)
3   2020      4q  ₩(x:,)  ₩(x:,)  ₩(x:,)
4   2021      1q  ₩(x:,)  ₩(x:,)  ₩(x:,)
5   2021      2q  ₩(x:,)  ₩(x:,)  ₩(x:,)
6   2021      3q  ₩(x:,)  ₩(x:,)  ₩(x:,)
7   2021      4q  ₩(x:,)  ₩(x:,)  ₩(x:,)
8   2022      1q  ₩(x:,)  ₩(x:,)  ₩(x:,)
9   2022      2q  ₩(x:,)  ₩(x:,)  ₩(x:,)
10  2022      3q  ₩(x:,)  ₩(x:,)  ₩(x:,)
11  2022      4q  ₩(x:,)  ₩(x:,)  ₩(x:,)

# 다중 인덱스
- index, columns를 중첩 형태로 전달해서 다중 인덱스를 설정할 수 있다

In [226]:
df = pd.DataFrame(np.arange(16).reshape((4,4)),index =[[1,2,3,4,], ['java', 'python','java','python']],columns=[['1기','1기','2기', '2기'], ['오전','오후','오전','오후']])
display(df)

          1기      2기
          오전  오후  오전  오후
1 java     0   1   2   3
2 python   4   5   6   7
3 java     8   9  10  11
4 python  12  13  14  15

In [227]:
print(df['1기'])

          오전  오후
1 java     0   1
2 python   4   5
3 java     8   9
4 python  12  13

In [228]:
print(df['1기','오후'])

1  java       1
2  python     5
3  java       9
4  python    13
Name: (1기, 오후), dtype: int32

In [231]:
print(df.loc[1,'1기'])

      오전  오후
java   0   1

# 그룹핑
- 특정 값을 기준으로 몇 개의 그룹으로 분할하여 처리하는 방식

In [233]:
import numpy as np
import pandas as pd

df=pd.DataFrame({'A':['chol','young','chol','young','chol', 'young','chol'],
                 'B':['one','one','two','one','two','two','one'],
                 'C':np.random.random(7),
                 'D':np.random.randn(7)})
print(df)

       A    B         C         D
0   chol  one  0.090459  0.613204
1  young  one  0.300700 -0.495618
2   chol  two  0.113984  0.525637
3  young  one  0.828681 -0.389646
4   chol  two  0.046896  0.937296
5  young  two  0.626287 -0.816974
6   chol  one  0.547586  1.019615

## 그룹 객체 만들기

In [235]:
grouped = df.groupby('B')
print(grouped)

for key,group in grouped:
    print('Key', key)
    print(group.head())
    print('='*30)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002C2FFBC7CD0>
Key one
       A    B         C         D
0   chol  one  0.090459  0.613204
1  young  one  0.300700 -0.495618
3  young  one  0.828681 -0.389646
6   chol  one  0.547586  1.019615
==============================
Key two
       A    B         C         D
2   chol  two  0.113984  0.525637
4   chol  two  0.046896  0.937296
5  young  two  0.626287 -0.816974
==============================

In [236]:
# 특정 그룹만 가져올 수 있다
one_group = grouped.get_group('one')
print(one_group.head())

       A    B         C         D
0   chol  one  0.090459  0.613204
1  young  one  0.300700 -0.495618
3  young  one  0.828681 -0.389646
6   chol  one  0.547586  1.019615

## 그룹 연산
- 그룹별 통계치 구하기
    - df.groupby(컬럼명)[집계 대상 컬럼 목록].통계함수()
    >- 집계 대상 컬럼에 대해 그룹별 통계치를 구함
    >- 통계함수에는 sum,mean,std,var,min,max,count,quantile 등이 있다

In [238]:
print(df.groupby('B')[['C','D']].sum())

            C         D
B
one  1.767427  0.747555
two  0.787168  0.645960

In [239]:
data = pd.read_csv('./sales.csv')
print(data)

       부서  순위    연도  매출액
0    영업1팀   1  2014  876
1   해외영업팀   2  2014  789
2    영업2팀   3  2014  788
3    영업1팀   3  2015  788
4    영업2팀   1  2015  980
5   해외영업팀   2  2015  877
6   해외영업팀   3  2017  657
7    영업1팀   1  2017  910
8    영업2팀   2  2017  755
9   해외영업팀   1  2018  987
10   영업1팀   2  2018  760
11   영업2팀   3  2018  670

In [241]:
# 부서별 매출액 합계
print(data.groupby('부서')['매출액'].sum())

부서
영업1팀     3334
영업2팀     3193
해외영업팀    3310
Name: 매출액, dtype: int64

In [245]:
multi=data.groupby(['부서','연도'])[['매출액']].sum()
display(multi)

            매출액
부서    연도
영업1팀  2014  876
      2015  788
      2017  910
      2018  760
영업2팀  2014  788
      2015  980
      2017  755
      2018  670
해외영업팀 2014  789
      2015  877
      2017  657
      2018  987

## agg() 함수
- 집계 연산을 처리하는 (사용자 정의)함수를 그룹 객체에 적용
- df.groupby(컬럼명)[컬럼명].agg([집계함수],[집계함수2]...])

In [246]:
grouped = data.groupby('부서')
for name, group in grouped:
    print('부서',name)
    print(group)
    print('-'*40)

부서 영업1팀
      부서  순위    연도  매출액
0   영업1팀   1  2014  876
3   영업1팀   3  2015  788
7   영업1팀   1  2017  910
10  영업1팀   2  2018  760
----------------------------------------
부서 영업2팀
      부서  순위    연도  매출액
2   영업2팀   3  2014  788
4   영업2팀   1  2015  980
8   영업2팀   2  2017  755
11  영업2팀   3  2018  670
----------------------------------------
부서 해외영업팀
      부서  순위    연도  매출액
1  해외영업팀   2  2014  789
5  해외영업팀   2  2015  877
6  해외영업팀   3  2017  657
9  해외영업팀   1  2018  987
----------------------------------------

In [247]:
# 부서별 최대 매출액과 최소 매출액의 차이 계산 함수
def min_max(x):
    return x.max()-x.min()

agg_minmax = grouped['매출액'].agg(min_max)
print(agg_minmax)

부서
영업1팀     150
영업2팀     310
해외영업팀    330
Name: 매출액, dtype: int64

In [251]:
# 해외영업 부서의 평균 매출액
oversea = grouped.get_group('해외영업팀')['매출액'].agg(['mean'])
display(oversea)

mean    827.5
Name: 매출액, dtype: float64

In [253]:
print(grouped['매출액'].agg(['sum','mean','max','min']))

        sum    mean  max  min
부서
영업1팀   3334  833.50  910  760
영업2팀   3193  798.25  980  670
해외영업팀  3310  827.50  987  657